
*.swp
Vector3D/.DS_Store
Vector3D/output
Vector3D/.exrc
*.o
.DS_Store
spheres/.qmake.stash
spheres/graphical/Makefile
spheres/Makefile
spheres/graphical/graphical
spheres/text/console
spheres/text/Makefile
spheres/text/Makefile
spheres/text/Makefile
spheres/text/Makefile
spheres/text/Makefile
spheres/console_app/Makefile
spheres/general/Makefile
